.navbar {
  background-color: red;
}

.round-image {
  width: 150;
  height: 150;
  border-radius: 400 / 2;
}

.btn {
  display: subgrid;
  background-color: blue;
  text-decoration: white;
}

.ul {
  display: inline;
}
