.navbar {
  justify-content: space-between;
  width: 100%;
  opacity: 1;
  background-color: grey;
  position: relative;
  overflow-y: overlay;
}
.h1 {
  margin: inherit;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: grey;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  position: relative;
}
.sp {
  display: inline-flex;
  color: black;
  justify-content: right;
  height: 5px;
  width: 25%;
  text-align: center;
  float: right;
}
.ul {
  color: black;
  margin: inherit;
  justify-content: space-evenly;
  display: inline-flex;
}
.Cm {
  text-align: center;
}
.ch {
  text-align: center;
}
.cl {
  text-align: center;
}
